.fondo1{
	background: url(../img/dance_1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 490px;
}

.titulo{
	font-size: 60px;
	margin-top: 60px;
	margin-bottom:30px;
}

.inscribete{
	margin-top: 60px;
	height: 45px;
	width:120px;
	padding:10px;
	border-radius: 5px;
}

.texto2{
	margin-top: 50px;
	font-size: 20px;

}

.deco{
	width: 120px;
	margin-left: 340px;

}

.oferta{
	width: 280px;
	height: 50px;
	border-radius: 5px; 
	padding: 10px;
	margin-left: 250px;
}

.fondo2{
	background: url(../img/textura_2.jpg);
	height: 400px;
}

.profes{
	height: 400px;
	border: 1px solid black;
}

.instructores{
	width: 500px;
	height: 50px;
	border-radius: 5px;
	padding: 10px;
	margin-top: -55px;
	margin-left:250px;
}

.texto3{
	margin-top:150px;
	font-size: 40px;
	font-style: italic;
}

.margenvisitanos{
	margin-top: 80px;
	margin-bottom: 80px;
}

.mapa{
	width: 350px;
	height: 350px;
	margin-left: 50px;
}